<!--
  Generated template for the StartGame page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark" *ngIf="timer">
    <ion-title>

        <ion-row>
          <ion-col>
        <button ion-button *ngIf="timeInSeconds && timeInSeconds > 0" large full clear class="timer-button timer-text">{{timer.displayTime}}</button>
          </ion-col>
       
           <ion-col text-right>
             
        <button ion-button icon-left clear color="light" small (click)="AreSureToReset()"  item-content *ngIf="!timer.runTimer && (timer.hasStarted || timer.hasFinished) || timer.hasFinished">
            <ion-icon name="refresh"></ion-icon>
            Reset
        </button>
        
        <button ion-button icon-left clear small color="light" (click)="pauseTimer()" item-right *ngIf="timer.runTimer && timer.hasStarted && !timer.hasFinished">
            <ion-icon name="pause"></ion-icon>
            Pause
        </button>      
        <button ion-button icon-left clear small color="light" (click)="resumeTimer()" item-right *ngIf="!timer.runTimer && timer.hasStarted && !timer.hasFinished">
            <ion-icon name="play"></ion-icon>
            Resume
        </button>      
        <button text-right ion-button icon-left clear small color="light" (click)="startTimer()" item-right *ngIf="!timer.hasStarted">
            <ion-icon name="play"></ion-icon>
            Start
        </button>
           </ion-col>
                   
    </ion-row> 
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg" padding>


<ion-card color="dark">
   <ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <p class="moveRight" text-center>TEAM1</p>
        </ion-col>
        <ion-col col-4>
        <p text-center>vs</p>
        </ion-col>
        <ion-col col-4>
          <p class="moveLeft" text-center>TEAM2</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>

    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <p class="score" text-center>0</p>
        </ion-col>
       
        <ion-col col-6>
          <p class="score" text-center>0</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
           
             <div (click)="goToPlayersBlue()">

             <img class="" src="../../../assets/images/fullset-color.svg">
        
             </div>
           
        </ion-col>

          <ion-col col-6>
             <div (click)="goToPlayersRed()">
            <img class="" src="../../../assets/images/fullset-color-red.svg">
             </div>
        </ion-col>

      </ion-row>
    </ion-grid>


</ion-card>
  


</ion-content>
