page-start-game {

  .dark{
    background-color:#333;
  }
   
  .page-ccc{
    background-color:#333;
  }

 .timer-button {
    font-size: 3rem !important;
    height: 1em !important;
    color:#fff;
  }
  
  .no-bottom-border.item .item-inner {
      border-bottom: none !important;
  }

.bg{
  background: #0e0e0e; /* Old browsers */
background: -moz-linear-gradient(top, #0e0e0e 55%, #7d7e7d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #0e0e0e 55%,#7d7e7d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #0e0e0e 55%,#7d7e7d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */
}

  .score{
    font-size:65px;
  }

  .moveLeft{
    position: relative;
    left: -20%;
  }

  .moveRight{
    position:relative;
    right:-20%;
  }

  .IconRight{
    position:relative;
    right:-10%;
  }

  .t-shirt{
   font-size:110px;
  }

  .img-shirt{
    width:115px;height:100px;
    @extend .IconRight;
    filter: invert(85%);
  }
}

$t: black;
.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: $t;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: $t;
  }

}
