<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="dark">
    <ion-title>{{ username }}</ion-title>

    <ion-buttons end>
     <button icon-only ion-button menuToggle><ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>
<ion-content class="page-front" padding>

   <ion-list>
    <!-- <button ion-item (click)="newSeason()">
     
     </button> -->

  


     <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> <!-- insert this in ion-searchbar tag -> "  -->

        <p style="color:#fff; font-size:24px;" text-center>  History </p>

<ion-list>
  <ion-item (click)="goToHistory()" color="my" *ngFor="let x of items">
    <ion-icon name="football" item-left></ion-icon>
    {{x.title}}
    <ion-note item-right>
      {{x.date}}
    </ion-note>
  </ion-item>
</ion-list>


   <!--<button ion-button class="" (click)="logout()">Logout
    </button>-->

    <!--   <button ion-item *ngFor="let item of items" (click)="openSeason({{ seasonId }})">
       {{ Season.name }}
     </button> -->

   </ion-list>


  <!-- <br />
   <button ion-button icon-only color="secondary" class="submit-btn" ><ion-icon name="alert"></ion-icon><br /></button>
   <button ion-button icon-only color="danger" class="submit-btn" ><ion-icon name="search"></ion-icon><br /> </button><br />
   <button ion-button icon-only color="primary" class="submit-btn" ><ion-icon name="chatboxes"></ion-icon><br /></button>
   <button ion-button icon-only color="dark" class="submit-btn" ><ion-icon name="calendar"></ion-icon><br /></button>
 -->
 </ion-content>
