page-popover {

.player-name{
    font-size:24px;
}

.number-parent{
    position:relative;
}
.number-pos{
    position: absolute;
    top: 28%;
    left: 40.5%;
    color: white;
    font-size: 38px;
}

}